/* h1{
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 1px;
  word-spacing: 20px;
  text-indent: 30px;
} */
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

body h1,h2 {
  font-family: "Roboto Condensed","Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

/* header {
  font-weight: 500;
  letter-spacing: 1px;
} */

.logo-link {
  transition:opacity 0.4s ease;
}
.logo-link:hover {
  opacity: 0.8;
}
.logo-link:active {
  opacity: 0.6;
}


button {
  font-weight: 700;
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

.site-nav{
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.site-nav:hover {
  color: #ff7500;
}
.site-nav:active {
  opacity: 0.6;
}
.site-nav-list {
  display: flex;
}

.main-button {
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: opacity 0.4s ease;
}
.main-button:hover{
  opacity: 0.8;
}
.main-button:active {
  opacity: 0.6;
}

.python-book {
  background-color: #252420;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-content {
  width: 390px;
}

.python-image {
  height: 510px;
  width: 510px;
}

.orange-hr {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.hero-heading {
font-size: 40px;
line-height: 120%;
/* or 48px */
letter-spacing: 0.5px;
color: #FFFFFF;
}

.hero-text {
  font-size:16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.promo {
  background-color: #fff;
}

.promo-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.icon {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.list-box {
  width: 340px;
}

.promo-thesis {
  width: 214px;
  height: 29px;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.promo-text {
  width: 314px;
  height: 72px;
  letter-spacing: 0.5px;
}

.sale {
  background-color: #252420;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sale-container {
  width: 440px;
}

.sale-heading {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}

.yellow-text {
  color: #ff7500;
}

.sale-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.footer {
  background-color: #f8f8f8;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
  text-decoration: none;

}
.footer-icons a{
  color: #252420;
  transition: color 0.3s ease;
}
.footer-icons a:hover {
  color: #ff7500;
}
.footer-icons a:active {
  opacity: 0.6;
}

ul {
  list-style: none;
} /* this is for list items given in the whole page */

.site-footer-link {
  display: flex;

}

.footer-links{
  width: 224px;
}

.footer-link {
  line-height: 19px;
  text-decoration: none;
  color: #252420;
  transition: color 0.4s ease,
  opasity 0.4s ease;
}

.footer-line {
  width: 1100px;
  height: 2px;
  background: rgba(37, 36, 32, 0.5);
}

.footer-link:hover {
  color: #ff7500;
}
.footer-link:focus {
  opacity: 0.6;
}